<link rel="stylesheet" href="home.component.css">
<body>
  <h1>Relatório Geral </h1>
  
  <div class="estoque">
    <h2>Estoque dos produtos</h2>
  
   
      <p>Numero de itens: aqui</p> 
    
      <p>Numero de lotes: aqui</p> 
      <p>Produtos disponiveis: 
        <li>listar aqui</li></p>
      </div>
  <div class="vendas">
    <h2>Registro de vendas</h2>
    <p>x vendas</p>
  </div>
  
  <div class="receita">
    <h2>Receita arrecadada</h2>
    <p>grana</p>
  </div>
  <div class="pfalta">
    <h2>Produtos em falta</h2>
    <p>listar produtos em falta</p>
  </div>
  
  <div class="lotes">
    <h2>Lotes</h2>
    <p>lote1: 13/12/18</p>
  </div>

</body>