<link rel="stylesheet" href="home.component.css">
<body>
  <h1>Relatório Geral </h1>
  
  <h2 id="estoque">Estoque dos produtos</h2>
  <section class="produtos">
    <li>Numero de lotes
      <p>3 vendas</p> </li>
    <li>Numero de itens 
      <p>oi</p> </li>
    <li>Data de validade
      <p>tudobom</p></li>
  </section>
  <h2 id="vendas">Registro de vendas</h2>
  <section class="reg"><p>vai dar certo</p></section>
  <h2 id="receita">Receita arrecadada</h2>
  <section class="rec"><p>em nome de Jesus</p></section>
</body>