.grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
  grid-column: 1 / 7;
  margin-top: 10px;
  align-content: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

div.row {
  margin-bottom: 0%;
}

form.a {
  align-items: center;
}

.center-button {
  display: flex;
  justify-content: center;
}

#button-login {
  width:10px;
}


.card-panel {
  width: 1000px;
  height: 120px;
  border-radius: 20px;
}


#options {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0%;
  background-color: rgb(241, 241, 241);
}

#optionsDesc {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 0%;
  background-color: rgb(241, 241, 241);
}

#options li {
  display:inline;
  margin: 1em;
}


.option :hover {
  background: #ee6e73;
}

.ative {
  background: #ee6e73;
}

.not-ative {
  background: #26a69a;
}


.collection {
  height: 100%;
  width: 1000px;
  border-radius: 20px;
}

.collection-item {
  height: 80px;
}

.dropdown-content{
  width: max-content !important;
  height:auto !important;
}


#dropdown1 li {
  margin: 0px;
}

#dropdown1 li a {
}

#modal1 select {
  background: #fafafC;
}


#modal {
  width: 400px;
}

.unavailable {
  background: rgb(169,169,169);
}

.unavailable  {
  background: none;
}

#add_product {
  float: right;
  margin: 1em;
}

.collection-header {
  display: grid;
  grid-template-columns: 1fr 1fr min-content;
}

#li-content {
  width: 100%;
  height: 100%;
}

#edit-button {
  margin-top: 5%
}

p {
  margin-right: 10px;
  font-size: 20px;
}

#submit {
  margin-top: 10%
}

