.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.box {
    grid-column: 2 / 4;
    margin-top: 50px;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

div.row {
    margin-bottom: 0%;
}

form.a {
    align-items: center;
}

.center-button {
    display: flex;
    justify-content: center;
}

#button-login {
    width: 100px;
}


.card-panel {
    margin-top: 0%;
    width: 400px;
    height: 410px;
    border-radius: 20px;
}

#create {
    float: right;
    margin-right: 1%;
}

#create:hover {
    text-decoration: underline;
    color:red;
}


.modal {
    width: 40%;
}