
<nav>
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo left">CCC_PHARMA</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">Login</a></li>
      <li><a href="">Produtos</a></li>
      <li><a href="">Descricao</a></li>
    </ul>
  </div>
</nav>





<div class="grid container">
  <div class="row box">
    <form class="col s12">

      <h1>Login</h1>

      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>


      <div class="center-button">
        <a id="button-login"class="waves-effect waves-light btn-small center">LOGIN</a>
      </div>
    </form>
  </div>
        
</div>