
<div class="grid">

  <div class="row box">
    <ul class="collection with-header">
      <li class="collection-header">
        <h4> Categorias </h4><br>
      </li>
      <li class="collection-item" *ngFor="let item of categories; let i = index">
        <div class="col s10" id="item">
          <p class="item"> Nome: {{ item.name}},</p>
          <p class="item"> Desconto: {{ formatDiscont(item)}}%</p>

        </div>
        <div *ngIf="isAdmin()" class="col s2">
          <a id="edit-button" (click)="editDiscount(item)" class="waves-effect waves-light btn">Editar</a>
        </div>
      </li>
    </ul>
  </div>
</div>



<!-- Modal Structure -->
<div id="modal" class="modal">
  <div class="modal-content">

    <h4>Alterar Desconto</h4>
    <form [formGroup]="discountForm" class="col s12">

      <div class="row">

        <div class="input-field col s12">
          <label for="discount">Desconto(em porcentagem)</label>
          <input id="discount" type="number" formControlName="discount" class="validate" step="0.01">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a (click)="saveEdition()" class="modal-close waves-effect waves-green btn-flat">Salvar</a>
  </div>
</div>
