
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo right">CCC_PHARMA</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="">Login</a></li>
      <li><a href="">Lista Produtos</a></li>
      <li><a href="">Descricao</a></li>
    </ul>
  </div>
</nav>





<div class="grid">
  <div class="row box">
    <form class="col s12">

      <h1>Login</h1>
      
      
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
      </div>


      <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>button</a>
    </form>
  </div>
        
</div>