.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.box {
    grid-column: 1 / 7;
    margin-top: 10px;
    align-content: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

div.row {
    margin-bottom: 0%;
}

form.a {
    align-items: center;
}

.center-button {
    display: flex;
    justify-content: center;
}

#button-login {
    width:10px;
}


.card-panel {
    width: 1000px;
    height: 400px;
    border-radius: 20px;
}


#options {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0%;
    background-color: rgb(241, 241, 241);
}

#optionsDesc {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 0%;
    background-color: rgb(241, 241, 241);
}

#options li {
    display:inline;
    margin: 1em;
}

#optionsDesc li {
    padding: 14px 14px;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    color: white;
    position: left;
    display: inline;
    margin: 1em;
    background: #26a69a;
    border-radius: 6px;
}

#names {
    font-size: 24px;
    font-weight: bolder;
    font-style: oblique;
    color: grey;
    position: left;
    display: inline;
    margin: 1em;
    border-radius: 6px;
}

#prices {
    padding: 14px 14px;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    color: white;
    display: inline;
    position: relative;
    left: 9em;
    margin: 1em;
    background: #26a69a;
    border-radius: 6px;
}

#realPrices {
    padding: 14px 14px;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    color: rgb(160, 34, 34);
    float: left;
    margin: 1em;
    border-radius: 6px;
}

#discounts {
    padding: 14px 14px;
    font-size: 20px;
    font-weight: bolder;
    font-style: oblique;
    color: white;
    float: left;
    margin: 1em;
    background: #25a167;
    border-radius: 6px; 
}

.names {
    position: absolute;
}

.prices {
    position: relative;
}

.option :hover {
    background: #ee6e73;
}

.ative {
    background: #ee6e73;
}

.not-ative {
    background: #26a69a;
}


.collection {
    width: 1000px;
    border-radius: 20px;
}

.collection-item {
    height: 150px;
}

.dropdown-content{
   width: max-content !important;
   height:auto !important;   
}


#dropdown1 li {
    margin: 0px;
}

#dropdown1 li a {
}

#modal1 select {
  background: #fafafC;
}
