<ul id="options">
  <li (click)="selectOption('selectAll')"><a [ngClass]="{'not-ative': !selectAllColor, 'ative': selectAllColor}" class="btn-floating btn-large option"><i class="material-icons">select_all</i></a></li>
  <li (click)="selectOption('foodColor')"><a [ngClass]="{'not-ative': !foodColor, 'ative': foodColor}" class="btn-floating btn-large option"><i class="material-icons">local_pizza</i></a></li>
  <li (click)="selectOption('comesticColor')"><a [ngClass]="{'not-ative': !comesticColor, 'ative': comesticColor}" class="btn-floating btn-large option"><i class="material-icons">brush</i></a></li>
  <li (click)="selectOption('medicinesColor')"><a [ngClass]="{'not-ative': !medicinesColor, 'ative': medicinesColor}" class="btn-floating btn-large option"><i class="material-icons">local_pharmacy</i></a></li>
  <li (click)="selectOption('personalColor')"><a [ngClass]="{'not-ative': !personalColor, 'ative': personalColor}" class="btn-floating btn-large option"><i class="material-icons">wc</i></a></li>
  <li (click)="openDropdow()"><a data-target='dropdown1' class="dropdown-trigger btn-floating btn option"><i class="material-icons">filter_list</i></a></li>
</ul>


<div class="grid">

  <div class="row box">
    <ul class="collection with-header">
        <li class="collection-header"><h4>{{ category }}</h4><br></li>
        <li class="collection-item" *ngFor="let item of itens; let i = index">
            Nome: {{ item.name }} <br>
            <strong>Preço:  {{ calculePrice(item) }} R$</strong> <br>
        </li>
      </ul>
</div>


<!-- Dropdown Structure -->
<ul id='dropdown1' class='dropdown-content'>
  <li><a (click)="selectFilter('nome')"> Nome </a></li>
  <li><a (click)="selectFilter('preço')"> Preço </a></li>
  <li><a (click)="selectFilter('data')"> Data </a></li>
  <li><a (click)="selectFilter('categoria')"> Categoria </a></li>
</ul>

