<ul>
  <li id="select_all"><a class="btn-floating btn-large option"><i class="material-icons">select_all</i></a></li>
  <li id="food"><a class="btn-floating btn-large option"><i class="material-icons">local_pizza</i></a></li>
  <li id="comestic"><a class="btn-floating btn-large option"><i class="material-icons">brush</i></a></li>
  <li id="medicines"><a class="btn-floating btn-large option"><i class="material-icons">local_pharmacy</i></a></li>
  <li id="personal"><a class="btn-floating btn-large option"><i class="material-icons">wc</i></a></li>
</ul>

<div class="grid">

  <div class="row box">
    <div class="col s12 m5">
      <div class="card-panel">
        <form class="col s12">
  
          <h1>Login</h1>
    
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label for="email">Email</label>
            </div>
          </div>
    
          <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label for="password">Password</label>
            </div>
          </div>
    
    
          <div class="center-button">
            <a id="button-login"class="waves-effect waves-light btn-small center">LOGIN</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>